body {
    padding-left: 30px;
}



.pagination {
    display: flex;
    justify-content: center;
  }

.pagination__list {
display: flex;
list-style-type: none;
}

.pagination__item {
padding: 8px;
margin: 8px;
cursor: pointer;
}

.pagination__item--active {
font-weight: 800;
color: gold;
}


.finish {
    position: relative;
    /* left: 800px; */
    z-index: 2;
}


/* .stop {
    position: absolute;
    background-color: orange;
    left: 0px;
} */


li {
    list-style-type: none;
    font-weight: 900;
    font-size: x-large;
}

button {
    cursor: pointer;
}

#winners-page {
    display: none;
}




table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


/* .cars {
    position: relative;
} */

  #winner {
    position: sticky;
    background-color: greenyellow;
  }

